*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Oxygen ,Helvetica, sans-serif;
}
.mobile-nav{
   
    height:4em ;
    width:4em;
    display: none;
    padding: 2px;
    margin-left: 20px;
}

.class1,.class2,.class3{
    height: 1px;
    width: 30px;
    background-color: #fff;
    display: block;
    margin:0.5rem auto;

}
.class1{
    margin-top: 15px;
}






.navigation {
    position: fixed;
    right:0;
    list-style-type:none;   
     height: 4em;
    width:100%;
   background-color:#251A06;  
      z-index: 4;
    font-size:0.9em;  
  
    
}
.table{
    float:right;
}

.navigation li{
    margin-top:0.9em;
    display: inline-block;
    height: 2em;
    line-height:30px; 
    align-content: center;
   
    
}
.navigation li a{
    
    margin:1rem 2rem;  
    color: #ceccca;
    text-decoration:none;  
    
}
.dropdown-cont, .aboutus-cont{
    display:block;
   position: absolute;
   background-color: #251A06;
   color: #ceccca;
   
   min-width: 160px;
   opacity: 0.8;
   z-index: 1;
}

.dropdown-cont a ,.aboutus-cont a{
    color: #ceccca;
  padding: 12px 16px;
  text-decoration: none;
  display: none;
  text-align: left;
  margin:0 auto;
}

 .navigation a:hover{
     color: white;
 }
.dropdown:hover .dropdown-cont a ,.aboutus:hover .aboutus-cont a {
   display:block;
} 



.slide-show{
    
}
.image{
    
    background-image: url(./images/slide-1.jpg);
    height: 100vh;
    background-position:center center;
    background-size: cover; /* or contain depending on what you want */

}
.about{

    width:100%;
    background-color:#11B3C6;
    
}

.about p{
    font-size:1em;
    margin:0 auto;
    padding:120px 0;
    max-width: 900px;
    color: #FFF;
    letter-spacing: .05em;
    
   
}
.contact{
height: 100vh;
width:100%;
display: flex;

}
.left{
    background:url(./images/coffee-farms.jpg);
    
    height: 100vh;
    width: 50%;
    text-align: center;
    line-height: 100vh;
    background-size: cover;
    transition: all 1.2s;
}
.button {
    background-color: rgba(47, 47, 51, 0.6);
    font-size: 0.8em;
    letter-spacing: .2rem;
    color:rgba(255, 255, 255,1);
    padding: 0.8rem 3.5rem;
    margin :0 auto;
    border: 2px solid #11B3C6;
    text-decoration: none;
    
    
}





.right{

    
    height: 100vh;
    width: 50%;
    text-align: center;
}
.cafes{
    height: 50%;
    width: 100%;
    background: url(./images/coffeebeans.jpg);
    background-size: cover;
    line-height: 50vh;

}
.email{
    height: 50%;
    width: 100%;
    background-color: #11B3C6;
   
}
.newsletter{
    padding:25vh 0;
}

.sign{
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 0.09rem;
    padding : 1rem 2rem;
    margin:0 auto;

}
.head{
    letter-spacing: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
   

}
.form{
    height: 30px;
}

input{
    height: 30px;
    width: 190px;
    background-color: #1395a3;
    outline-style: none;
    border-style: none;
}
.check{
    height: 30px;
    width: 30px;
    padding: 7px;
    background-color: #11B3C6;
    border: 1px solid white;
}
.check:hover{
    background-color: #fff;
    transition: all 0.2s;
}


@media screen and (max-width:600px){
  .table{
      display: none;
      overflow: hidden;
  }
}
@media screen and (max-width:600px){
    .mobile-nav{
        display:block;
    }
    .responsive {
       float: left;
       background-color: #251A06;
       width: 80%;
       text-align: center;
       height: 100vh;
       display: flex;
       flex-direction: column;
        
    }
    .contact{
        flex-direction: column;
    }
    .right,.left{
        width:100%;
    }

  
}
